# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\unraid_web_updated\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
